<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a [routerLink]="'/'" class="navbar-brand">NWP 3</a>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page">Login</a>
          <a [routerLink]="'/users'" class="nav-link active" aria-current="page">Users</a>
          <a [routerLink]="'/users/add'" class="nav-link active" aria-current="page">Add User</a>

          <a [routerLink]="'/machines/search'" class="nav-link active" aria-current="page">Search Machines</a>
          <a [routerLink]="'/machines/create'" class="nav-link active" aria-current="page">Create Machine</a>
          <a [routerLink]="'/machines/errors'" class="nav-link active" aria-current="page">Error History</a>
        </div>
      </div>
    </div>

    <div class="collapse navbar-collapse justify-content-between">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a [routerLink]="'/'" class="nav-link active" aria-current="page" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="container pt-3">
  <router-outlet></router-outlet>
</div>
